body {
    margin: 0;
    padding: 0;
    height: 400vh;
    background-color:rgba(88, 11, 88, 1);
}

p {
    padding: 0;
    margin: 0;
    font-family: Josefin Sans;
}

a {
    font-family: Josefin Sans;
}


.navbar {
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    background-color: rgba(88, 11, 88, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .logo .logo-img {
    width: 80px;
    height: 80px;
}

.navbar-options {
    height: 100%;
    display: flex;
}
.navbar .navbar-options a {
    color:#FFFFFF;
    font-size:20px;
    padding-right:40px;
    padding-left:40px;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar .navbar-options a:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.first-section {
    background-image: url(images/background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section .h1-title {
    color: #FFFFFF;
    font-weight: bolder;
    text-shadow: 8px 8px 3px rgba(0,0,0,0.3);
    font-size: 50px;
    text-align: center;
    max-width: 80%;
    text-align: center;
}

.first-section .start-now-button {
    background-color: yellow;
    border: none;
    border-radius: 40px;
    background-color: #130187;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 50px;
    width: 180px;
    height: 50px;
}

.first-section .start-now-button:hover {
    cursor:pointer;
    background-color: rgb(20, 7, 112);
}
.second.section {
    background-image: url(images/background-img-second-div.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
}

.third-section {
    background-image: url(images/background-img-third-div.jpg);
    background-size: cover;

    height: 50vh;  
}

.fourth-section {
    background-image: url(images/background-img-fourth-div.jpg);
    background-size: cover;
    height: 50vh;     
}