.second-section {
    background-image: url(../images/background-imgs/background-img-second-div.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top:80px;
    padding-left: 80px;
    padding-right: 80px;
}


.second-section #section-subdiv-fullstack-paragraph{
    flex:0.75;
}

.second-section #section-subdiv-img-paragraph {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.second-section-subdiv-img-wrap {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}