.second-section {
    background-image: url(../images/background-imgs/background-img-second-div.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top:30px;
    padding-left: 30px;
}

.second-section .h1-title {
    color: #FFFFFF;
    font-weight: bolder;
    text-shadow: 8px 8px 3px rgba(0,0,0,0.3);
    font-size: 50px;
    text-align: start;
    position: sticky;
    top:120px;
    flex:1;
    height: 30%;
}

.second-section-first-subsectionONE {
    background-color: green;
    height: 100vh;
    flex: 1;
}
.second-section-first-subsectionTWO {
    background-color: yellow;
    height: 100vh;
    flex: 1;
}