.second.section {
    background-image: url(../images/background-imgs/background-img-second-div.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
}

.third-section {
    background-image: url(../images/background-imgs/background-img-third-div.jpg);
    background-size: cover;

    height: 50vh;  
}

.fourth-section {
    background-image: url(../images/background-imgs/background-img-fourth-div.jpg);
    background-size: cover;
    height: 50vh;     
}